<!doctype html>
<html lang="en">

<head>  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
<h1>RiskyRules Report</h1>
{% for rule in rulesdata|sort(attribute='risk',reverse=true) %}
<div class="alert {% if rule.risk>50 %}alert-danger{% else %}alert-primary{% endif %}" role="alert">{{ rule.username }} - {{ rule.rulename }} : {{ rule.risk }}</div> 
{% endfor %}
